<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.bundle.min.js') }}"></script>

<footer class=footer>
Nährwerte im Durchscnitt pro 100ml/g werden gefordert.
Die empfohlenen Sollwerte entsprechen denen eines 25 jährigen Mann.
</footer>