<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.bundle.min.js') }}"></script>

<div class="card">
  <div class="card-header">
    Zu beachten:
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>Nährwerte im Durchschnitt pro 100ml/g werden gefordert.
Die empfohlenen Sollwerte entsprechen denen eines 25 jährigen Mannes. Die Eingabe fordert "." und kein ",".</p>
      <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
    </blockquote>
  </div>
</div>
</body>