<body>
{% include "header.jinja" %}
<form method="POST">
  <button type="submit">Delete</button>
</form>

<div class="container-fluid">
    <div class="row">

        {% for eintrag in display.eintraege %}

        <div class="col-xl-2 col-lg-4 col-md-6 ">
            <div class="card">
                  <div class="card-body">
                      <h5 class="card-title">{{ eintrag.product_name }}</h5>
                      <p class="card-text">Menge:            {{ eintrag.amount }}ml/g</p>
                      <p class="card-text">Brennwert:        {{ eintrag.energy }}kJ</p>
                      <p class="card-text">Fett:             {{ eintrag.fat }}g</p>
                      <p class="card-text">Davon Fettsäuren: {{ eintrag.fat_acids }}g</p>
                      <p class="card-text">Kohlenhydrate:    {{ eintrag.carbs }}g</p>
                      <p class="card-text">Davon Zucker:     {{ eintrag.sugar }}g</p>
                      <p class="card-text">Eiweiss:          {{ eintrag.protein }}g</p>
                      <p class="card-text">Salz:             {{ eintrag.salt }}g</p>
                  </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% include "footer.jinja" %}